    body{
    padding: 0%;
    margin: 0%;
}


.header{
    background-color: #1f2937;  
}

.header1{
    width: 80%;
    margin: auto;
}


.header2{
    display: flex;
    justify-content:space-between;
    color:#f9faf8;
    font-size: 24px;
}


ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;   
    font-size: 18px;
    color: #e5e7eb;
}

.awesome1{
    display: flex;
    align-items: center;
}

.awesome{
    width: 310px;
    
}

/*.img{
   
    width: 400px;
    height: 200px;
    background-color: rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
} */

.bolder{
    font-size: 48px;
    color: #f9faf8;
    margin: 0%;
    padding: 0%;
}

.subtext{
    color: #e5e7eb  ;
    padding: 0%;
    margin: 0%;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
  }
  

.up-sign{
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
    
}

/* mid contetn */
.mid-cont{}

  .mid-cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
   
} 
 

.upper-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.info{
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtxt{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
}


 .items{
   /* display: flex;
    justify-content: center; 
    gap: 15px; */
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;     
    text-align: center;
    width: 130px;
    flex-wrap: wrap;
}


.middle-mid{
    width: 600px;
    font-size: 36px;
    padding: 0%;
    margin: 0%;
}

.insta{
    display: flex;
    justify-content: flex-end;
    padding: 0%;
    margin: 0%;
}

.lower-mid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: royalblue;
    border-radius: 8px;
    color: white;
   
}

.lower-mid1{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}